[flake8]
application-import-names = app
max-line-length = 88
exclude = .git,__pycache__,venv,.venv,migrations,alembic,conftest.py

# For Black compatibility
extend-ignore = E203, W503, I101

# import order plugin (flake8-import-order)
import-order-style = google

# flake8-quotes settings
inline-quotes = double
multiline-quotes = double
docstring-quotes = double
